.navigation {
    background-color: rgb(13, 194, 197);
    display: flex;
    width: 100vw;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    flex-grow: 1;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    padding: 30px;
}

.link{
    display: inline-block;
    background-color: rgb(171, 91, 198);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
.link-container :hover{
    background-color: rgb(173, 245, 91);
    text-decoration: underline;
}
.link-container .active{
    background-color: rgb(205, 233, 69);
}












/* card style */

.card-container{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    background-color: rgb(134, 217, 232)
}
.next-btn{
    padding: 5px;
    background-color: rgb(231, 197, 72);
    width: 120px;
    border-radius: 10px;
}